<div class="form-container">
    <form  >
        <div class="field">
            <label  class="label">Title</label>
            <div class="control">
                <input type="text" required [(ngModel)]="title" name="title"  class="input">
            </div>
        </div>
        <br>
        <div class="field">
            <label  class="label">Body</label>
            <div class="control">
                <textarea class="textarea" [(ngModel)]="body" name="body" ></textarea>
            </div>
        </div>
        <div class="field is-grouped is-pulled-right">
            <div class="control">
                <button class="button is-text" type="button" (click)="cancel()">Cancel</button>
            </div>
            <div class="control">
                <button class="button is-primary" type="submit" (click)="postData()">Save</button>
            </div>
        </div>

    </form>
</div>

