@import 'src/main-styles.scss';

.form-container{
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    
    margin-bottom: 75px;
    border-radius: 5px;
    border-color: rgb(15, 170, 218);
    box-shadow: 0px 0px 10px 4px rgba(black,0.2);
}
.button{
    max-width: 100px;
    display: flex;
    margin: auto;
    margin-bottom: 25px;
}

.field{
    max-width: 300px;
    margin: auto;
    
}
.input{
    margin-top: 25px;

    
}
.heading{
    font-size: 24px;
    font-weight: 200;
    max-width: 150px;
    
}
.text-field{
    max-width: 150px;
    margin: auto;
    margin-top: 10px;
}
.signup{
    
    font-weight: 200;
    max-width: 150px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

