<div class="main-container">

    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Search here..">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </p>
          </div>
    </div>
    
<div class="notes-list">   
    <div *ngFor="let d of value;let j=index" class="note-card-container">
      <a [routerLink]="['/view',d.id,d.title,d.body]">
      <div class="note-card-content">
          <h1 class="note-card-title">{{d.title}}</h1>
  
          <div class="note-card-body">
              <p>{{d.body|slice:0:50}}..</p>
          </div>
      </div>
      </a>
      <div class="x-button">
          <button class="btn" (click)="delete(d.id)">X</button>
          
      </div>
      
  </div>
</div>
<button class="button floating-add-button is-primary" routerLink="/new">+Add</button>

</div>



